<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
  
  <div id ="help">
  
  <%= image_tag "financeicon.png" %>
  
  <h1>Expense Tracker</h1>

  </div>
  
<%= yield %>
  
  
  
</body>
</html>
